html,body{
    margin: 0;
    padding: 0;
}

nav{
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 10px;
    background-color: #1f2937;
    margin-bottom: -10px;
}

nav ul{
    color:white;
    list-style-type: none;
    margin-left: auto;
    align-content: center;
}

nav ul li{
    display:inline;
    margin-left: 6px;
    margin-right: 6px;
}

#hero{
    display: flex;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding-left:60px;
    padding-right:60px;
    margin-left: -3px;
    margin-right: -3px;
}

#hero img{
    margin-left: auto;
    width: 400px;
    height: auto;
    margin-top:40px;
    margin-bottom: 40px;
}

#hero h1{
    font-size: 48px;
    font-weight: bold;
}

#hero p{
    font-size: 18px;
    color: #e5e7eb;
}
#hero button{
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    border-radius: 12px;
    text-decoration: none;
    border: none;
    padding: 8px;

}




