html,body{
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Courier New', Courier, monospace;
}

nav{
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 10px;
    background-color: #1f2937;
    margin-bottom: -10px;
}

nav ul{
    color:white;
    list-style-type: none;
    margin-left: auto;
    align-content: center;
}

nav ul li{
    display:inline;
    margin-left: 6px;
    margin-right: 6px;
}

#hero{
    display: flex;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding-left:60px;
    padding-right:60px;
    margin-left: -3px;
    margin-right: -3px;
    height: 400px;
}

#hero img{
    margin-left: auto;
    width: 400px;
    height: auto;
    margin-top:40px;
    margin-bottom: 40px;
}

#hero h1{
    font-size: 48px;
    font-weight: bold;
}

#hero p{
    font-size: 18px;
    color: #e5e7eb;
}
#hero button{
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    border-radius: 12px;
    text-decoration: none;
    border: none;
    padding: 8px;

}

#hero button:hover{
    background-color: #143f7c;
}

.header{
    max-height: 400px;
}

.images{
    display:flex;
    align-content: center;
    justify-content: space-around;   
    padding: 10px;
}

.header h2{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 80px;
}

.header img{
    width: 150px;
    height: 150px;
}

.images p{
    font-size: 14px;
    max-width: 150px;
    text-align: center;
    color: #1f2937;
}

.quote{
    max-height: 400px;
    background-color:#e5e7eb;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 250px;
    padding-left: 250px;
    font-style: italic;
}

.author{
    font-weight: bold;
    margin-left:auto;
}




